/* Share */

body {
    font-family: "Noto Sans TC", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* header */
header {
    width: 100vw;
    box-shadow: 0px 1px 5px grey;
}
.header_group {
    display: flex;
    max-width: 1400px;
    margin: auto;
    padding: 20px 0;

    justify-content: space-between;
}
.logo {
    height: 80px;
    width: 300px;
    justify-items: center;
    margin: 0 0 0 60px;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}
.header_group_right {
    display: flex;
    margin: 0 20px 0 0;
}
.head_item {
    display: flex;
    align-items: flex-end;

    div {
        margin: 10px 30px;
        text-align: center;
        h6 {
            margin: 0;
        }
        p {
            margin: 0;
            font-size: 11pt;
        }
    }
}

.header_community {
    align-items: center;
    display: flex;
    justify-content: space-around;

    margin: 0 0 0 60px;

    // div {
    //     margin: 0 10px 0 0;
    // }
}

.community_icon {
    height: 35px;
    width: 35px;
    margin: 0 10px 0 0;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.language {
    position: absolute;
    top: 8px;
    margin: 0px;
}

.nav_rwd {
    display: none;
    margin: auto 0px auto 10px;
}
/* header_hover */
.head_item :hover {
    color: rgb(0, 107, 184);
    box-shadow: 1 1 0;
}

/* main */

#nav_none {
    display: none;
    position: absolute;
    background-color: gainsboro;
    width: 100vw;
    text-align: center;
    h6 {
        margin: 50px 0;
    }
}

/* footer */
footer {
    box-shadow: 0px -1px 5px grey;
    width: 100vw;
}

.footer_group {
    display: flex;
    max-width: 1100px;
    margin: auto;
    padding: 30px 0;
    justify-content: space-between;
}

.footer_logo {
    height: 130px;
    width: 200px;
    img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 0 0 10px;
    }
}
.footer_item {
    text-align: center;
    font-size: 11pt;
}
.footer_community {
    margin: 0 25px 0 0;
    // div {
    //     margin: 0 5px;
    // }
}

.footer_community_icon {
    //    height: 35px;
    //     width: 35px;
    // margin: 0 10px 0 0;
    display: flex;
    justify-content: space-around;
    padding: 0 5px;
  
    div {
        height: 35px;
        width: 35px;
        
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

}
.footer_end {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 10pt;
    line-height: 20px;
    p {
        margin: 0 10px;
    }
}

/* footer_rwd  */
@media (max-width: 1050px), print {
    // header_rwd
    .head_item {
        display: none;
    }

    .header_community {
        align-items: center;
        display: flex;
    }

    .community_icon {
        display: none;
    }

    .nav_rwd {
        display: block;
        height: 35px;
        width: 35px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    // footer_rwd
    .footer_logo img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 0 0 10px;
    }
}

@media (max-width: 600px), print {
    .header_group {
        padding: 10px 0;
    }
    .logo {
        height: 65px;
        width: 80px;
        margin: 0 0 0 15px;
    }
    .language {
        right: 68px;
        top: 28px;
    }

    .footer_group {
        display: flex;
        flex-direction: column;

        padding: 30px 0;
        div {
            margin: 20px auto;
            img {
                margin: 0;
            }
            div {
                margin: 0px auto;
            }
            P {
                margin: 10px auto;
            }
        }
    }

    // .footer_community_icon{
    //     display: flex;
    //     justify-content: space-around;

    // }
}
// .header_group {
//     display: flex;
//     max-width: 1400px;
//     margin: auto;
//     padding: 10px 0;

//     justify-content: space-between;
// }
// .header_community {
//     align-items: center;
//     display: flex;
// }