/* Share */
body {
  font-family: "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* header */
header {
  width: 100vw;
  -webkit-box-shadow: 0px 1px 5px grey;
          box-shadow: 0px 1px 5px grey;
}

.header_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  margin: auto;
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  height: 80px;
  width: 300px;
  justify-items: center;
  margin: 0 0 0 60px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.header_group_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 0 0;
}

.head_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.head_item div {
  margin: 10px 30px;
  text-align: center;
}

.head_item div h6 {
  margin: 0;
}

.head_item div p {
  margin: 0;
  font-size: 11pt;
}

.header_community {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 0 60px;
}

.community_icon {
  height: 35px;
  width: 35px;
  margin: 0 10px 0 0;
}

.community_icon img {
  max-width: 100%;
  max-height: 100%;
}

.language {
  position: absolute;
  top: 8px;
  margin: 0px;
}

.nav_rwd {
  display: none;
  margin: auto 0px auto 10px;
}

/* header_hover */
.head_item :hover {
  color: #006bb8;
  -webkit-box-shadow: 1 1 0;
          box-shadow: 1 1 0;
}

/* main */
#nav_none {
  display: none;
  position: absolute;
  background-color: gainsboro;
  width: 100vw;
  text-align: center;
}

#nav_none h6 {
  margin: 50px 0;
}

/* footer */
footer {
  -webkit-box-shadow: 0px -1px 5px grey;
          box-shadow: 0px -1px 5px grey;
  width: 100vw;
}

.footer_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: auto;
  padding: 30px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_logo {
  height: 130px;
  width: 200px;
}

.footer_logo img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 0 0 10px;
}

.footer_item {
  text-align: center;
  font-size: 11pt;
}

.footer_community {
  margin: 0 25px 0 0;
}

.footer_community_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 5px;
}

.footer_community_icon div {
  height: 35px;
  width: 35px;
}

.footer_community_icon div img {
  max-width: 100%;
  max-height: 100%;
}

.footer_end {
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px 0;
  font-size: 10pt;
  line-height: 20px;
}

.footer_end p {
  margin: 0 10px;
}

/* footer_rwd  */
@media (max-width: 1050px), print {
  .head_item {
    display: none;
  }
  .header_community {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .community_icon {
    display: none;
  }
  .nav_rwd {
    display: block;
    height: 35px;
    width: 35px;
  }
  .nav_rwd img {
    max-width: 100%;
    max-height: 100%;
  }
  .footer_logo img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 0 0 10px;
  }
}

@media (max-width: 600px), print {
  .header_group {
    padding: 10px 0;
  }
  .logo {
    height: 65px;
    width: 80px;
    margin: 0 0 0 15px;
  }
  .language {
    right: 68px;
    top: 28px;
  }
  .footer_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  .footer_group div {
    margin: 20px auto;
  }
  .footer_group div img {
    margin: 0;
  }
  .footer_group div div {
    margin: 0px auto;
  }
  .footer_group div P {
    margin: 10px auto;
  }
}
/*# sourceMappingURL=style.css.map */